<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Spark</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
		<style>
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				outline: 0;
			}

			body {
				font-family: Roboto, sans-serif;
				color: #333;
				font-size: 14px;
				text-align: center;
			}

			h1 {
				margin-bottom: 10px;
				font-size: 50px;
			}

			main {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		</style>
	</head>
	<body>
		<main>
			<h1>Spark</h1>
			<h2>Instalado com sucesso.</h2>
		</main>
	</body>
</html>
